<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seenergy | Sign Up</title>
    <link href="/Content/bootstrap.css" rel="stylesheet"/>
<link href="/Content/site.css" rel="stylesheet"/>

    <script src="/Scripts/modernizr-2.6.2.js"></script>

    <script type='text/javascript' src='http://www.google.com/jsapi'></script>

    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li><img src="/img/Seenergy_Logo.png" style="width: 15%; height: 15%; padding-top:10px" /></li>
                    
                </ul>
                    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Home/EnergyUse">Graphs</a></li>
        <li><a href="/Home/Recommendations">Recommendations</a></li>
        <li><a href="/Home/UserForm" id="loginLink">Configurations</a></li>
        <li> <h4>|</h4></li>
        <li><a href="/Account/Register" id="registerLink">Register</a></li>
        <li><a href="/Account/Login" id="loginLink">Log in</a></li>
        
    </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        


<h2>Register.</h2>

<form action="/Account/Register" class="form-horizontal" method="post" role="form"><input name="__RequestVerificationToken" type="hidden" value="-QjrK4NNUCZBcs5wL6OJFFt9VCLb2tD1LKPmmfT38s6ALr-tMmjN9U9O6MhMI-K4BOcBRmYBH5We479IFb7u1KMH9NP18xTdd1IUhL8708A1" />    <h4>Create a new account.</h4>
    <hr />
<div class="validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
</ul></div>    <div class="form-group">
        <label class="col-md-2 control-label" for="UserName">User name</label>
        <div class="col-md-10">
            <input class="form-control" data-val="true" data-val-required="The User name field is required." id="UserName" name="UserName" type="text" value="" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="Password">Password</label>
        <div class="col-md-10">
            <input class="form-control" data-val="true" data-val-length="The Password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Password" name="Password" type="password" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="ConfirmPassword">Confirm password</label>
        <div class="col-md-10">
            <input class="form-control" data-val="true" data-val-equalto="&#39;Confirm password&#39; and &#39;Password&#39; do not match." data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
</form>

        <hr />
        <footer>
            <p>&copy; 2014 - Seenergy</p>
        </footer>
    </div>

    <script src="/Scripts/jquery-1.10.2.js"></script>

    <script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/respond.js"></script>

    <script src="/Scripts/energyhack.js"></script>
    
    <script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>



    <script type="text/javascript">

        EnergyHack.Layout.StartUp = function () {

            if (EnergyHack.Page.StartUp) {
                EnergyHack.Page.StartUp();
            }
        }

        $(document).ready(EnergyHack.Layout.StartUp);

    </script>
</body>
</html>
